body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 16%;
  margin: 30px;
  border-radius: 25px;
  background-color: #4d7c8a;
  color: white;
  border-color: #454851;
  box-shadow: 3px 3px 5px #4d7c8a;
  transition: 600ms;
}

.card:hover {
  cursor: default;
  transform: scale(1.02);
  transition: 600ms;
}

.Tools-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-custom {
  color: white;
  background-color: #454851;
  border-radius: 20px;
  width: 150px;
}

.card-img-top {
  border-radius: 20px;
  border: 1px solid #454851;
}

.search-div {
  margin-left: 4%;
  margin-top: 5%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input[type="text"] {
  border: 1px solid #4d7c8a;
  padding-left: 10px;
  outline: none;
  color: #4d7c8a;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.search-form i {
  background: #4d7c8a;
  padding: 6px;
  color: white;
  min-width: 50px;
  text-align: center;
}
