.Tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  box-shadow: 8px 8px 5px black;
  margin: 2%;
  padding: 1%;
  border-radius: 1rem;
  color: black;
  background-color: slategrey;
  transition: 600ms;
}

.card-container:hover {
  transform: scale(1.05);
  transition: 600ms all;
}

.product {
  display: flex;
  flex-direction: column;
}

.card-images img {
  width: 150px;
  height: auto;
  background-color: white;
  border-radius: 5px;
}

.product p {
  font-family: "Tomorrow", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.product h1 {
  font-family: "Tomorrow", sans-serif;
  font-size: 1.6rem;
}

.product h2 {
  font-family: "Tomorrow", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* profile styles */
.card-list {
  display: flex;
  flex-wrap: wrap;
}

.btn-custom {
  color: white;
  background-color: #454851;
  border-radius: 20px;
  width: 150px;
}

.btn-custom:hover {
  background: #4d7c8a;
  box-shadow: 8px 8px 10px #000000;
  transition: 0.3s;
}

.btn-slide {
  display: flex;
  flex-direction: column;
}

.product button {
  margin: 5%;
}
