.navbar-custom {
  background-color: #454851;
  height: 78px;
}

.navbar-custom img {
  width: 150px;
  padding-left: 2em 1em;
  margin: 4px, auto;
}
.nav-link {
  color: white;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 0;
  margin-left: 1em;
}

.nav-link:hover {
  color: #4d7c8a;
  border-bottom: 2px solid #4d7c8a;
}

/*Footer styling */

footer {
  text-align: center;
  background: #454851;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  position: fixed;
  color: #fff;
  left: 0;
  bottom: 0;
  right: 0;
  flex-shrink: 0;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.social-media-links {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-evenly;
}

.social-media-links i {
  padding-left: 6%;
}

.social-media-links i:hover {
  color: #4d7c8a;
  cursor: pointer;
  transition: 0.3s all;
}

.copyright-info {
  margin-left: 27%;
  margin-top: 1%;
}

.follow {
  padding-top: 10px;
  margin-bottom: 5px;
}

/* shadow button styling */
.shadow-btn {
  border: 2px solid #4d7c8a;
  background-color: #4b7683;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
  width: 120px;
  height: 70px;
  margin: 1%;
}

.shadow-btn span {
  font-family: "Tomorrow", sans-serif;
}

.shadow-btn:hover {
  box-shadow: 8px 8px #6b878f;
  transition: 0.3s;
}

.shadow-btn:focus {
  outline: 0;
}

.fa-search {
  cursor: pointer;
}
